<header id="top-header">
    <span class="siteName">
        <a href="/" title="Return to home page">CSE Motors</a>
    </span>
    <div id="tools">
        <a title="Click to log in" href="#"><span class="first">M</span>Y <span class="first">A</span>CCOUNT</a>
    </div>
    <a id="hamburger"></a>
</header>