/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}
html {
    background-image: url('../images/site/checkerboard.jpg');
    min-width: 380px;
}
body {
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    padding: 20px;
    border: 5px solid rgb(9, 158, 227);
    border-radius: 10px;
    max-width: 920px;
}
.flex {
  display: flex;
  flex-direction: column-reverse;
  flex: 1;
  flex-wrap: wrap;
  margin-top: 2rem;
}
.grid {  
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
  min-width: 300px;
}
.container, .list{
  flex: 1 !important;
  padding: 0 10px;
}

.feat{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.img-container {
  background-color: rgb(9, 158, 227);
  padding: 10px 60px;
  border: 2px solid black;
  width: 180px;
  height: 90px;
}
.list ul li {
  font-size: 1.2rem;
  margin-left: 0;
  list-style: disc;
  padding-bottom: 20px;
  font-weight: 600;
}
.list ul {
  padding-left: 20px;
}
.list {
   margin-top: 50px;
   min-width: 300px;
}
.flex h2 {
  margin-bottom: 3rem;
}
footer {
  margin-top: 5rem;
}

.card {
  border: 1px solid black;
  border-radius: 10px;
  text-align: center;
  height: 300px;
  width: 200px;

}

.card a img {
  width: 100%;
  height: 120px;
  border-radius: 10px 10px 0 0;
  }

.card hr {
  height: 5px;
  margin-top: 40px;
  background-color: black;
}

.detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  font-size: 1.1rem;
  font-weight: bold;
}

.detail div {
  flex: 1;
}

.image {
  min-width: 0;
  flex: 1;
}

.image img {
  max-width: 100%;
  height: auto;
}

.bg-highlight {
  background-color: #e3e3e3;
  padding: 10px;
}

.info h2 {
  margin-top: 0;
}

#inv-display {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  min-width: 300px;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  min-width: 300px;
}

.container p {
  font-size: large;
}
/* font-weight: bold; */

.namePrice a, .namePrice span {
  font-size: large;
  margin: 0;
  line-height: 0.85;
}

.namePrice h2 {
  padding: 5px; 
  margin: 0;
}

.error-message {
  background-image: url('../images/site/car-crash.webp');
  font-weight: bold;
  font-size: 1.2rem;
  margin-top: 20px;
  height: 100vh;
  width: 100vw;  
  max-width: 890px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.error {
  background-image: url('../images/site/404.webp');
  margin-top: 20px;
  height: 100vh;
  width: 100vw;  
  max-width: 890px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form label {
  align-self: start;
}

form input, form textarea, form select {
  margin-bottom: 20px;
  width: 100%;
  padding: 7px;
}

form button {
  font-size: large;
  padding: 5px 10px;
  border-radius: 5px;
}

.form a {
  text-decoration: underline;
}

.form {
  display: flex;
  flex-direction: column;
  justify-self: center;
  background-color: darkslategrey;
  padding: 20px;
  margin: 10px;
  color: aliceblue;
  border-radius: 20px;
}

#sign-up {
  text-align: end;
}

#heading {
  text-align: center;
}

.links {
  display: flex;
  flex-direction: column;
}

.links a {
  font-size: large;
}

label span {
  color: rgb(236, 43, 43);
}

form input:invalid:not(:placeholder-shown) {
  background-color: rgb(228, 162, 162);
}

form input:valid:not(:placeholder-shown) {
  background-color: rgb(178, 255, 178);
}

select {
  padding: 7px;
  width: 12rem;
  margin-bottom: 1rem;
}

@media (min-width: 540px) {
  .detail {
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
  }

  .form {
    width: 60%;
  }
}